$accent-color: #fcd7b6;
$btn-color: #a3bbc8;
$link-color: #7b7b7b;
$top-menu--color: #436372;
$mostly-black: #1a1a1a;
$light-grayish-blue:#edf1f4;
$grayish-blue: #d2d2d7;
$title: #243f4d;
$very-dark-blue: #234969;
$light-grayish-orange: #fef7f0;
$grayish-orange: #e8e5e0;
$dark-gray:#414141;
$very-gray: #585858;
$dark-desaturated-blue: #1f2044;
$very-dark: #191919;
$gray-dark: #8b8b8b;
$light-orange: #fde3cc;
$gray-light: #f8f8f8;
$lightskyblue: #87cefa;
$line-color: #09316f;



%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%myriadpro-400 {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}