@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__container {
    max-width: 1800px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item+&__item {
    padding-left: 30px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    color: #436372;

    &:hover {
      border-bottom: 2px solid #436372;
    }
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;

  &__link-search {
    position: relative;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 51px;
    height: 52px;
    border-radius: 50%;
    margin-right: 21px;
    background-color: #edf1f4;
  }

  &__link-favorites {
    position: relative;
    background-image: url('../images/icons/favorites.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 88px;
    height: 51px;
    border-radius: 25px 0 0 25px;
    background-color: #fcd7b6;
  }

  &__link-basket {
    position: relative;
    background-image: url('../images/icons/basket.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 88px;
    height: 51px;
    top: 0;
    border-radius: 0 25px 25px 0;
    margin-right: 18px;
    background-color: #fcd7b6;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      top: 10px;
      background-color: #ffffff;
    }
  }

  &__link-account {
    position: relative;
    background-image: url('../images/icons/account.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 51px;
    height: 52px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 10px;
    left: 46px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 1.7;
    color: #243f4d;
    text-align: center;
  }
}

.footer-top {
  padding: 70px 0 65px;
  border-bottom: 1px solid #a3bbc8;
  display: flex;
  justify-content: space-between;

  &__logo-img {
    margin-bottom: 20px;
  }

  &__address {
    color: #7b7b7b;
    text-transform: none;
    @extend %rubik-400;
    font-size: 14px;
  }

  &__address,
  &__phone,
  &__email {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #7b7b7b;
    text-transform: none;

    span {
      text-transform: uppercase;
      line-height: 2.3;
    }
  }

  &__contact,
  &__services,
  &__account {
    width: 200px;
    margin-right: 100px;
  }

  &__item-form {
    max-width: 270px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #1f2044;
    padding-top: 16px;
    margin-bottom: 14px;
  }

  &__link,
  &__text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 2.3;
    color: #7b7b7b;
  }

  &__text p {
    line-height: 2.1;
    margin-bottom: 30px;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    float: left;
    border: none;
    padding: 3px 15px 4px 15px;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1.2;
      color: #234969;
    }
  }

  &__form-btn {
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    float: left;
    width: 100px;
    height: 38px;
    padding-left: 0px;
    background-color: #a3bbc8;
    cursor: pointer;
    border: none;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;

  &__copy,
  &__menu-item,
  &__menu-link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 2.3;
    color: #7b7b7b;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item+&__menu-item {
    padding-left: 15px;

    &::before {
      content: '|';
      padding-right: 10px;
    }
  }
}

.top-slider {
  &__container {
    max-width: 1770px;
    background-color: #fcd7b6;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 622px;
      height: 634px;
      border-radius: 50%;
      top: 100px;
      right: 186px;
      background-color: rgba(67, 99, 114, 0.0);
      background-image: linear-gradient(-90.0deg, #ffffff 0%, rgba(255, 255, 255, 0.0) 100%);
    }
  }

  &__content {
    padding-left: 285px;
    padding-top: 214px;
    padding-bottom: 223px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1.1;
    color: #243f4d;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__text {
    max-width: 360px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.6;
    color: #436372;

    p {
      margin-bottom: 50px;
    }
  }

  &__link {
    position: relative;
    background-color: #a3bbc8;
    @extend %rubik-500;
    font-size: 15px;
    color: #ffffff;
    padding: 22px 100px 20px 28px;
    outline: 0;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      width: 26px;
      height: 13px;
      top: 24px;
      right: 17px;
    }
  }

  &__img {
    width: 640px;
    height: 264px;
    transform: translateY(276px);
    margin-right: 286px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 44px;

    li {
      button {
        @extend %rubik-500;
        font-size: 10.9px;
        color: #243f4d;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        opacity: 0.3;
        border: 0;
        border-radius: 50%;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .slick-active {
      background-color: #ffffff;
      border-radius: 50%;
    }
  }
}















// @import 'media' {

// }