.product {
  display: flex;
  text-align: center;
  padding: 65px 0 100px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 40px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__filter-btn {
    text-align: center;
    margin-bottom: 73px;

    button {
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 1.2;
      color: $gray-dark;
      border: none;
      background-color: transparent;
      transition: color 0.3s;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:hover {
        color: $mostly-black;
        cursor: pointer;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $lightskyblue;
      }
    }
  }
}